body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 100%;
}

a {
  color: red;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 300%;
}

h2 {
  font-size: 150%;
}

p {
  font-size: 100%;
  line-height: 1.4em;
}

main {
}

.container {
  margin: 0 auto;
  width: 40em;
}

@media(max-width: 45em) {
  body {
    font-size: 125%;
  }

  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 125%;
  }

  .container {
    width: 90%;
  }
}
